<h1>Super Story Fighter II</h1>
<p>ランダムに生成されるプロットをつなぐストーリーを考えてください。</p>
<p>まずは<%= link_to "練習問題", "random_plot/" %>にチャレンジ！</p>

<p><%= link_to "現在開催中の大会はこちら", conventions_path %></p>

<p><%= link_to "過去の投稿一覧", story_posts_path %></p>

<p><%= link_to "ヘルプ", "static_pages/help/" %></p>

<p><%= link_to "プロットピース管理", plot_pieces_path %></p>
