<h1>プロット[ID: <%= params[:id] %>]<h1>

<%= form_for(@story_post) do |f| %>
	<ul>
		<li>投稿者：<%= f.text_field :name %></li>
		<li>タイトル：<%= f.text_field :title, placeholder: "書いたストーリーにふさわしいタイトルをつけてみよう" %></li>
	</ul>
	<%= f.text_area :content, name: 'story_post[content][]', value:'', placeholder: "下の状況になる以前のストーリーや前提を書いてね" %>
	<% @plot_pieces.each do |plot_piece| %>
		<h2><%= plot_piece.content %></h2>
		<%= f.hidden_field :plots, name: 'story_post[plots][]', value: plot_piece.content %>
		<%= f.text_area :content, name: 'story_post[content][]', value:'', placeholder: "上の状況と下の状況の間をつなぐストーリーを書いてね" %>
	<% end %>
	<%= f.submit %>
<% end %>
<hr>
<%= form_for(@convention) do |f| %> 
	<%= f.hidden_field :title, value: params[:id] %>
	<% @plot_pieces.each do |piece| %>
		<%= f.hidden_field :plots, name: "convention[plots][]", value: piece.content %>
	<% end %>
	<%= f.submit value: "このプロットで大会を作る" %>
<% end %>
