<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @convention.title %>
</p>

<p>
  <strong>Plots:</strong>
  <%= @convention.plots %>
</p>

<p>
  <strong>Write limit:</strong>
  <%= @convention.write_limit %>
</p>

<p>
  <strong>Like limit:</strong>
  <%= @convention.like_limit %>
</p>

<%= link_to 'この大会に参加する', entry_convention_path(@convention) %> |

<%= link_to 'Edit', edit_convention_path(@convention) %> |
<%= link_to 'Back', conventions_path %>
