<p id="notice"><%= notice %></p>

<h1><%= @story_post.title %></h1>
<p>投稿者：<%= @story_post.name %></p>

<% @story_post.content.zip(@story_post.plots).each do |content, plot| %>
	<p><%= content %></p>
	<p><%= plot %></p>
<% end %>
