<p id="notice"><%= notice %></p>

<h1><%= @story_post.title %></h1>
<p>投稿者：<%= @story_post.name %></p>

<% @story_post.content.zip(@story_post.plots).each do |content, plot| %>
	<p><%= simple_format(content) %></p>
	<p class="plot"><%= plot %></p>
<% end %>

<p>
<%= @story_post.convention ? link_to("大会参加したストーリーです[#{@story_post.convention.title}]", @story_post.convention) : "練習投稿ストーリーです" %>
</p>

<% if @story_post.convention %>
	<% if ApplicationHelper.can_like(@story_post.convention) %>
		<%= form_for(@story_post, :url => {:action => 'like'}) do |f| %>
			<p><%= f.submit value: "いいね！" %>&nbsp;<%= @story_post.like.to_i %></p>
		<% end %>
	<% else %>
		<p>いいね投稿締め切りを過ぎています。<%= @story_post.like.to_i %></p>
	<% end %>
	<% if ApplicationHelper.can_write(@story_post.convention) %>
		<%= link_to '編集', edit_story_post_path(@story_post) %>
	<% else %>
		<p>ストーリー修正締め切りを過ぎています。</p>
	<% end %>
<% else %>
	<%= form_for(@story_post, :url => {:action => 'like'}) do |f| %>
		<p><%= f.submit value: "いいね！" %>&nbsp;<%= @story_post.like.to_i %></p>
	<% end %>
	<%= link_to '編集', edit_story_post_path(@story_post) %>
	<%= render "conventions/form_from_story_post" %>
	<%= link_to "同じプロットでストーリーを新規に投稿する", copy_story_post_path(@story_post) %>
<% end %>

<%= link_to "Back", story_posts_path %>

