<p id="notice"><%= notice %></p>

<h1><%= @story_post.title %></h1>
<p>投稿者：<%= @story_post.name %></p>

<% @story_post.content.zip(@story_post.plots).each do |content, plot| %>
	<p><%= content %></p>
	<p><%= plot %></p>
<% end %>

<p>
<%= @story_post.convention ? link_to("大会参加したストーリーです[#{@story_post.convention.title}]", @story_post.convention) : "練習投稿ストーリーです" %>
</p>

<%= form_for(@story_post) do |f| %>
	<%= f.hidden_field :like, value:@story_post.like.to_i + 1 %>
	<p><%= f.submit value: "いいね！" %>&nbsp;<%= @story_post.like.to_i %></p>
<% end %>

